.main-cointainer {
    max-width: 1440px;
    margin: 0 auto;



}
.nav-bar{
    display: flex;
    justify-content: space-between;
    background-color: skyblue;
}
.logo {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: black;
}
.nav-links {
    list-style: none;
    display: flex;
    gap: 32px;
}

.hero-section {
    background-color: antiquewhite;
    height: 684px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.button-wrapper {
    display: flex;
    justify-content: center;
    gap: 20px;
}
.btn {
    padding: 14px 24px;
border-radius: 4px;
border: none;
}
.btn-first {
    background-color: white;
}
.btn-second {
    background-color: black;
    color: white;
}
.group {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 1171.46px;
height: 145.48px;
top: 920px;
left: 134px;
gap: 0px;
opacity: 0px;

}
.heading {
    display: flex;
    justify-content: center;
    width: 648px;
height: 35px;

}
.nav-group {
    display: flex;
    justify-content: center;
    gap: 20px;
}
.link {
    display: flex;
    list-style: none;
    justify-content: space-between;
    width: 1171.46px;
height: 50.48px;
gap: 0px;


}
.hero-wrapper {
    width: 525px;
}
.bg-blue {
    background-color: white;
}
.bg-blue * {
    color:black;
}
.contact-button {
    background-color: black;
    border-color: white;
    color: white;
    border-radius: 4px;
    width: 136px;
    height: 48px;
}
.right-to-left {
    flex-direction: row-reverse;
}
.our-services {
    display: flex;
    justify-content: center;
    background-color: white;
}
.image {
    display: flex;
    justify-content:space-between;
}
.card-container {
    display: flex;
    justify-content: space-between;
}
.container-two {
    display: flex;
    justify-content: space-between;
}
.card-container-two {
    display: flex;
    justify-content: space-between;
}
.RECENT {
    display: flex;
    justify-content: center;
}
.heading-one {
    font-weight: bold;
}
.paragraph {
    width: 640px;
    height: 54px;
}
.recent-container {
    display: flex;
    justify-content: space-between;
}
.warapper-two {
    display: flex;
    justify-content: center;
}
